.button-round{
  border-radius:100%;
  height: 6rem;
  width: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-pill{
  border-radius: 1rem;
  padding: .5rem 1.75rem;
}

.button-primary{
  border:1px solid #00EEE6;
  &:hover{
    background-color: #00EEE6;
    color: #0B1624;
  }
}

.button-secondary{
  border:1px solid #f2f2f2;
    &:hover{
    background-color: #f2f2f2;
    color: #0B1624;
  }
}
