.hero{
  padding: var(--p-xs) var(--p-xs);
  height: 85vh;
  z-index:2;
  position: relative;
  color: $primary-light;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: auto;
  grid-template-areas:
    "header header header . . ."
    "footer footer footer footer footer footer"
    "main main main main main main"
    "sidebar sidebar sidebar sidebar . ."
    "controls controls controls controls . .";
  .sidebar{grid-area: sidebar; justify-self: start; display: flex;}
  .details{grid-area: footer; align-self: end;}
  .controls{grid-area: controls; justify-self: start; margin-bottom:1rem;}
  .network-logo{ grid-area: header; align-self: start; max-height: 3rem;}
  .title{
    grid-area: main;
    align-self: center;
  }
  .shield{
    width: 100%;
    height: inherit;
    z-index: -2;
    position: absolute;
    background-image: url('/img/elements/shields.png');
    background-size: cover;
  }
  .details .meta{
    display: flex;
    div{padding-right:1rem;padding-bottom:1rem;}
  }
  .flag{
    border:.5px solid $primary-light;
    padding:.5rem 1rem;
  }
}

@media screen and (min-width: 767px){
  .hero{
    padding: var(--p-sm) var(--p-sm);
    height: 100vh;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
      "header header header . . . . ."
      "main main main main main . . ."
      "sidebar sidebar sidebar sidebar . . . ."
      "footer footer footer footer footer footer . ."
      "controls controls controls controls . . . .";
    .sidebar{justify-self: start;}
    .details{grid-area:footer; align-self: end;}
  }
}

@media screen and (min-width: 1025px){
  .hero{
    padding: var(--p-sm) var(--p-md);
    height: 100vh;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
      "header header header . . . . . . . . . . . . ."
      "main main main main main main main main main main . sidebar sidebar sidebar sidebar sidebar"
      "footer footer footer footer footer footer . . . . . . . controls controls controls";
    .sidebar{align-self: center; justify-self: end; display: flex;}
    .details{align-self: end;}
    .controls{align-self:end; justify-self:end;}
  }

}
