.nav{
  width: 100%;
  height: 4.5rem;
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  transition: 1s ease-in-out;
  .nav__list{
    display: flex;
    height: 4.5rem;
    flex-direction: column;
    color: $secondary-light;
    transition: 1s ease-in-out;
    justify-content: flex-start;
  }
  .nav__top{
    visibility: visible;
    background: linear-gradient(180deg, #04080C, transparent);
    .nav__icon {
      padding: .35rem;
    }
  }
  .nav__bottom, .nav__center{
    visibility:  collapse;
  }
  .nav__link{
    display: flex;
    align-items: center;
  }
  .nav__item{
    display: flex;
    line-height: 25px;
    white-space: nowrap;
    &:hover{
      color: $primary-brand;
      background-color: $primary-dark;
      cursor: pointer;
      .nav__text-label, .nav__icon{
        filter: brightness(0) saturate(100%) invert(84%) sepia(57%) saturate(3017%) hue-rotate(120deg) brightness(93%) contrast(102%);
      }
    }
  }
  .nav__initial{
    width: 24px;
    font-weight: bold;
    background: rgba(255,255,255,.2);
    border-radius: 24px;
    text-align: center;
  }
}

@media screen and  (min-width: 1025px){
  .nav{
    width: 4.5rem;
    min-height: 640px;
    height: 100vh;
    .nav__list, .nav__list.toggled{
      justify-content: space-between;
      height: 100vh;
      background: transparent;
    }
    .nav__bottom{
      visibility: collapse;
    }
    .nav__center, .nav__top{
      visibility: visible;
    }
    .nav__top{
      background: transparent;
      .nav__link{
        flex-direction: row-reverse;
      }
      .nav__icon{
        display: none;
      }
      .nav__item{
        height: 6rem;
      }
      .nav__text-label{
        opacity:1;
        visibility: visible;
        max-width: none;
      }
    }
    .nav__text-label{
      visibility: collapse;
      opacity: 0;
      transition: visibility 0s, opacity 0.5s linear;
    }
    &:hover{
      transition: 1s ease-in-out;
      background: $dark-gradient;
      width:14rem;
      .nav__top, .nav__bottom{
        visibility: visible;
      }
      .nav__text-label{
        visibility: visible;
        opacity: 1;
      }
      ~ .App{
        transition: 1s ease-in-out;
        filter: brightness(70%) blur(30px);
      }
    }
  }
}

@media screen and (max-width:1025px){
  .nav__list.toggled{
    background: $dark-gradient;
    height: 100vh;
    .nav__top, .nav__center, .nav__bottom{
        visibility: visible;
    }
  }
}
